# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Vector Store
vectorstore/

# Uploaded PDFs
*.pdf

# Streamlit
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store